<div class="container">
  <div class="row ">
    <div class="col l4 offset-l4">
      <form method="post" action="/burger/">
        <input id="icon_prefix" type="text" name="burger_name">
        <label for="icon_prefix">Enter Burger</label>
        <div>
          <button class="btn black waves-effect" type="submit" id="submit">Submit!</button>
        </div>
      </form>
    </div>
  </div>
  <div class="row ">
    <div class="col l4 offset-l4">
      <form method="delete" action="/burger/:id">
        <input id="icon_prefix" type="text" name="id">
        <label for="icon_prefix">id</label>
        <div>
          <button class="btn black waves-effect" type="submit" id="submit">Submit!</button>
        </div>
      </form>
    </div>
  </div>
</div>
